:root {
  --font-family: 'Poppins', Sans-serif;

  --font-size-heading: 3.75rem;
  --font-size-body: 1.125rem;
  --font-size-button-text: 1rem;
  --font-size-small-text: 0.875rem;

  --color-primary-blue: #2A4DD0;
  --color-success-green: #4CA154;
  --color-background-dark: #111729;
  --color-text-light: #223344;
  --color-text-small: #909193;
  --color-background-light: #F2F9FE;
  --color-text-dark: #FFFFFF;
}

/* Estilos generales */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.small-text {
  font-size: var(--font-size-small-text);
  color: var(--color-text-small);
  text-decoration: none;
}

.heading{
  color: var(--color-text-light);
  font-size: var(--font-size-heading);
  font-weight: 700;
}

.sub-heading{
  color: var(--color-text-light);
}

.body-text{
  font-size: var(--font-size-body);
  color: var(--color-text-small);
  font-weight: 700;
}

.btn{
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-button-text);
  background-color: var(--color-primary-blue);
  color: var(--color-text-dark);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 14px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--color-success-green);
  transform: translateY(-3px);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.live-demo {
  text-decoration: underline;
  color: var(--color-primary-blue);
  font-weight: bold;
  font-size: var(--font-size-button-text);
  text-underline-offset: 3px;
}

.live-demo:hover {
  transform: translateY(-3px);
  transition: transform 0.3s ease;
}


body {
  background-color: var(--color-background-light);
  min-height: 100vh;
  padding: 2rem 6rem;
  margin: 0 auto;
}

/* Navbar */

header {
  width: 100%;
}

.navbar {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  display: flex;
  width: 58%;
}

.links {
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 32px;
}

.links .close{
  display: none;
}

.link {
  color: var(--color-text-small);
  transition: transform 0.2s ease, color 0.2s ease;
}

.link:hover {
  transform: scale(1.05);
  color: var(--color-text-light);
}

.active-link {
  color: var(--color-text-light);
}

.menu {
  display: none;
}

.menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-text-light);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hidden{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Main */
main{
  margin-top: 50px;
  height: calc(100vh - 8%);
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center; 
  justify-content: center; 
  align-content: center; 
}

/* Hero img */
.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img{
  max-width: 90%;
}

/* Content */
.content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

/* button-container */
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* features */
.features, .feature{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features{
  margin-top: 20px;
  gap: 16px;
}

/*Switch theme*/
.theme {
  background-color: var(--color-text-light);
  border: none;
  padding: 2.4px;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.background-theme-icon{
  background-color: var(--color-text-dark);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.dark{
  background-color: var(--color-background-dark);
}

.text-dark{
  color: var(--color-text-dark);
}

.sun-dark{
  -webkit-filter: invert(100%) hue-rotate(90rad);
}

@media (max-width: 1024px) {
  body{
    padding: 1rem 2rem;
  }

  main{
    grid-template-columns: repeat(1, 1fr);
  }

  main aside{
    order: 1;
    margin-bottom: 48px;
  }

  main .content{
    order: 2;
  }  
}

@media (max-width:640px) {

  :root {
    --font-size-heading: 2.5rem;
    --font-size-body: 1rem;
    --font-size-button-text: 0.875rem;
    --font-size-small-text: 0.75rem;
  }

  .hidden{
    display: none;
    background-color: var(--color-background-light);
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: grey;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .active{
    padding-top: 100px;
    min-height: 100vh;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    transition: max-width 0.3s ease;
  }

  .links{
    flex-direction: column;
    margin-bottom: 36px;
  }

  .link{
    font-size: var(--font-size-body);
  }

  .close {
    display: flex !important;
    position: absolute;
    top: 16px;
    right: 38px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-text-small);
    font-weight: bold;
  }

  
}